registry=https://registry.npmjs.org/

# Set the cache directory
cache=~/.npm

# Specify the prefix for global installs
prefix=~/.npm-global

# Control package version fetching behavior
save-exact=true

# Set authentication tokens
//registry.npmjs.org/:_authToken=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
